<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    <!-- Add the FontAwesome link for the icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <header>
            <img src="/Users/DiegoAlfaro/Desktop/head shots IoT/Group 3903.png">
        </header>
        <ul>
            <li><a href="#"></i>Dashboard</a></li>
            <li><a href="#"></i>Drivers</a></li>
            <li><a href="#"></i>Live Alerts</a></li>
            <li><a href="#"></i>Analytics</a></li>
        </ul>
    </div>
</body>
</html>
